.card {
	position: relative;
	animation: undefined-easeOutElastic, 3s;
}

.zoom-box {
	transition: transform 0.2s; /* Animation */
}

.zoom-box:hover {
	transform: scale(1.2);
	z-index: 2;
	border-color: #ffc835;
	border-style: double;
	border-width: thin;
}

@keyframes scale-easeOutElastic {
	0% {
		transform: scale(1);
	}

	16% {
		transform: scale(-0.32);
	}

	28% {
		transform: scale(0.13);
	}

	44% {
		transform: scale(-0.05);
	}

	59% {
		transform: scale(0.02);
	}

	73% {
		transform: scale(-0.01);
	}

	88% {
		transform: scale(0);
	}

	100% {
		transform: scale(0);
	}
}

@keyframes undefined-easeOutElastic {
	0% {
		transform: translateX(0%);
	}

	16% {
		transform: translateX(-132.27%);
	}

	28% {
		transform: translateX(-86.88%);
	}

	44% {
		transform: translateX(-104.63%);
	}

	59% {
		transform: translateX(-98.36%);
	}

	73% {
		transform: translateX(-100.58%);
	}

	88% {
		transform: translateX(-99.8%);
	}

	100% {
		transform: translateX(-100%);
	}
}

@keyframes opacity-easeOutElastic {
	0% {
		opacity: 1;
	}

	16% {
		opacity: -0.32;
	}

	28% {
		opacity: 0.13;
	}

	44% {
		opacity: -0.05;
	}

	59% {
		opacity: 0.02;
	}

	73% {
		opacity: -0.01;
	}

	88% {
		opacity: 0;
	}

	100% {
		opacity: 0;
	}
}
